{% extends 'base.html' %}

{% block content %}

<h2>Expenditure List</h2>

<ul class="list-group">
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
    <li class="list-group-item">Buy Coffee</li>
</ul>

{% endblock %}
